body {
	margin: 0;
	display: flex;
	height: 100vh;
	align-items: center;
	justify-content: center;
	font-family: 'Ubuntu', sans-serif;
}

.container {
	width: 350px;
}

h1 {
	color: #403866;
	font-size: 30px;
	line-height: 1.2;
	text-align: center;
	text-transform: uppercase;
}

.btn-row {
	display: flex;
	justify-content: space-between;
}

input {
	height: 62px;
	outline: none;
	color: #403866;
	display: block;
	font-size: 18px;
	line-height: 1.2;
	font-weight: 700;
	border-radius: 3px;
	margin: 40px 0 15px 0;
	padding: 0 20px 0 38px;
	background-color: #e6e6e6;
	border: 1px solid transparent;
	width: -webkit-fill-available;
	width: -moz-available;
}

input:focus {
	transition: all 0.4s;
	border: 1px solid #827ffe;
}

button {
	color: #fff;
	height: 62px;
	border: none;
	padding: 0 20px;
	font-size: 16px;
	font-weight: 700;
	line-height: 1.2;
	border-radius: 3px;
	transition: all 0.4s;
	outline: none !important;
	text-transform: uppercase;
	background-color: #827ffe;
}

button:hover {
	background-color: #403866;
}

.register {
	width: 60%;
}

.login {
	width: 35%;
}

.message {
	color: white;
	padding: 10px;
	min-height: 60px;
	background: #9e9e9e;
	border-radius: 3px;
}

@media (max-width: 500px) {
	.container {
		width: 85vw;
	}
}
